<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ChapterMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加章信息记录 -->
	<insert id="addChapter" parameterType="chapter">
		insert into t_chapter(title,addTime) values 
		(#{title},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询章信息记录 -->
	<select id="queryChapter" resultMap="chapterMap" >
		select t_chapter.* from t_chapter ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="chapterMap" type="chapter">
        <id property="id" column="id" />
    </resultMap>

    <!-- 按照查询条件查询所有章信息记录 -->
	<select id="queryChapterList" resultMap="chapterMap" >
		select t_chapter.* from t_chapter ${where}
	</select>

    <!-- 按照查询条件的章信息记录数 -->
	<select id="queryChapterCount" resultType="int">
		select count(*) from t_chapter ${where}
	</select>

	<!-- 根据主键查询某个章信息记录 -->
	<select id="getChapter" parameterType="int" resultMap="chapterMap">
		select * from t_chapter where t_chapter.id = #{id}
	</select>

	<!-- 更新章信息记录 -->
	<update id="updateChapter" parameterType="chapter">
		update t_chapter set title=#{title},addTime=#{addTime} where id = #{id}
	</update>

	<!-- 删除章信息记录 -->
	<delete id="deleteChapter" parameterType="int">
		delete from t_chapter where id=#{id}
	</delete>

</mapper>
