<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.HomeworkUploadMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加上传的作业记录 -->
	<insert id="addHomeworkUpload" parameterType="homeworkUpload">
		insert into t_homeworkUpload(homeworkTaskObj,studentObj,homeworkFile,uploadTime,resultFile,pigaiTime,pigaiFlag,pingyu) values 
		(#{homeworkTaskObj.homeworkId},#{studentObj.studentNumber},#{homeworkFile},#{uploadTime},#{resultFile},#{pigaiTime},#{pigaiFlag},#{pingyu})
	</insert>

	<!-- 按照查询条件分页查询上传的作业记录 -->
	<select id="queryHomeworkUpload" resultMap="homeworkUploadMap" >
		select t_homeworkUpload.* from t_homeworkUpload,t_homeworkTask,t_student ${where} and t_homeworkUpload.homeworkTaskObj = t_homeworkTask.homeworkId and t_homeworkUpload.studentObj = t_student.studentNumber limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="homeworkUploadMap" type="homeworkUpload">
        <id property="uploadId" column="uploadId" />
        <association property="homeworkTaskObj" column="homeworkTaskObj" select="com.chengxusheji.mapper.HomeworkTaskMapper.getHomeworkTask" />
        <association property="studentObj" column="studentObj" select="com.chengxusheji.mapper.StudentMapper.getStudent" />
    </resultMap>

    <!-- 按照查询条件查询所有上传的作业记录 -->
	<select id="queryHomeworkUploadList" resultMap="homeworkUploadMap" >
		select t_homeworkUpload.* from t_homeworkUpload,t_homeworkTask,t_student ${where} and t_homeworkUpload.homeworkTaskObj = t_homeworkTask.homeworkId and t_homeworkUpload.studentObj = t_student.studentNumber
	</select>

    <!-- 按照查询条件的上传的作业记录数 -->
	<select id="queryHomeworkUploadCount" resultType="int">
		select count(*) from t_homeworkUpload,t_homeworkTask,t_student ${where} and t_homeworkUpload.homeworkTaskObj = t_homeworkTask.homeworkId and t_homeworkUpload.studentObj = t_student.studentNumber
	</select>

	<!-- 根据主键查询某个上传的作业记录 -->
	<select id="getHomeworkUpload" parameterType="int" resultMap="homeworkUploadMap">
		select * from t_homeworkUpload where t_homeworkUpload.uploadId = #{uploadId}
	</select>

	<!-- 更新上传的作业记录 -->
	<update id="updateHomeworkUpload" parameterType="homeworkUpload">
		update t_homeworkUpload set homeworkTaskObj=#{homeworkTaskObj.homeworkId},studentObj=#{studentObj.studentNumber},homeworkFile=#{homeworkFile},uploadTime=#{uploadTime},resultFile=#{resultFile},pigaiTime=#{pigaiTime},pigaiFlag=#{pigaiFlag},pingyu=#{pingyu} where uploadId = #{uploadId}
	</update>

	<!-- 删除上传的作业记录 -->
	<delete id="deleteHomeworkUpload" parameterType="int">
		delete from t_homeworkUpload where uploadId=#{uploadId}
	</delete>

</mapper>
